useDynLib(sbyops, .registration = TRUE)
importFrom(rlang,enquos)
importFrom(rlang,expr)
importFrom(tidyselect,eval_select)
export(sby_select_modal_frequency)
export(sby_select_correlation)

export(sby_select_non_constant)
