useDynLib(sbyops, .registration = TRUE)
importFrom(arrow,arrow_table)
importFrom(arrow,boolean)
importFrom(arrow,codec_is_available)
importFrom(arrow,date32)
importFrom(arrow,dictionary)
importFrom(arrow,float64)
importFrom(arrow,int8)
importFrom(arrow,int16)
importFrom(arrow,int32)
importFrom(arrow,int64)
importFrom(arrow,schema)
importFrom(arrow,uint8)
importFrom(arrow,uint16)
importFrom(arrow,uint32)
importFrom(arrow,uint64)
importFrom(arrow,utf8)
importFrom(arrow,write_parquet)
importFrom(collapse,fnrow)
importFrom(collapse,fselect)
importFrom(rlang,enquos)
importFrom(rlang,expr)
importFrom(stringr,str_c)
importFrom(tidyselect,eval_select)
importFrom(kit,countOccur)
importFrom(Rcpp,evalCpp)
export(sby_table_optimize_scheme)
export(sby_table_write)
export(sby_select_modal_frequency)
export(sby_select_correlation)

export(sby_select_non_constant)

export(sby_config)
