useDynLib(sbyops, .registration = TRUE, .fixes = "C_")
importFrom(cli,cli_alert_info)
importFrom(collapse,fncol)
importFrom(collapse,fnrow)
importFrom(collapse,fselect)
importFrom(rlang,enquos)
importFrom(rlang,expr)
importFrom(stringr,str_c)
importFrom(tidyselect,eval_select)
importFrom(kit,countOccur)
importFrom(Rcpp,evalCpp)
export(sby_table_optimize_scheme)
export(sby_table_write)
export(sby_select_modal_frequency)
export(sby_select_correlation)

export(sby_select_non_constant)

export(sby_config)
importFrom(collapse,fmean)
importFrom(collapse,fmedian)
importFrom(collapse,fquantile)
importFrom(collapse,fsd)
importFrom(collapse,fsum)
importFrom(data.table,as.data.table)
importFrom(data.table,getDTthreads)
importFrom(data.table,rbindlist)
importFrom(data.table,setDTthreads)
importFrom(data.table,uniqueN)
importFrom(robustbase,covMcd)
importFrom(robustbase,mc)
importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,mahalanobis)
importFrom(stats,pt)
importFrom(stats,qbeta)
importFrom(stats,qchisq)
importFrom(stats,qt)
importFrom(stats,sd)
importFrom(stringi,stri_length)
importFrom(stringi,stri_numbytes)
importFrom(stringi,stri_trans_nfkc)
importFrom(stringr,str_detect)
importFrom(stringr,str_squish)
importFrom(stringr,str_to_lower)
importFrom(stringr,str_to_upper)
importFrom(stringr,str_trim)
importFrom(tibble,as_tibble)
importFrom(tibble,tibble)
importFrom(utils,combn)
importFrom(utils,head)
importFrom(utils,object.size)
export(sby_detect_multivariate_outliers)
export(sby_distribution_candidates)
export(sby_identify_distribution)
export(sby_profile_data_catalog)
export(sby_profile_data_set)
export(sby_profile_missing_patterns)
export(sby_profile_data_relations)
